/* .home-container {
    padding: 20px;
  }
  
  .product-category {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .border-button {
    border: 2px solid rgba(146, 106, 21, 0.815);
    background-color: white;
    color: rgba(146, 106, 21, 0.815);
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .product-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .round-button {
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid rgba(146, 106, 21, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .round-button:hover {
    background-color: rgba(146, 106, 21, 0.815);
  }
  
  .round-button img {
    border-radius: 50%;
  }
   */