.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top {
  width: 100%;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-content {
  position: relative;
  width: 100%;
  background-color: rgba(146, 106, 21, 0.815);
  font-size: 20px;
  font-weight: bold;
  padding: 16px 0;
}

.header-title {
  cursor: pointer;
  display: inline-block;
}

.menu-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  display: none;
  /* Mặc định ẩn 3 gạch */
}

/* .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 130px;
  background-image: url(../../assets/img/logo-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid ;
  cursor: pointer;
} */

.header-menubar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}


.menu-item {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: border-color 0.2s ease;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}

.menu-item:hover,
.menu-item.active {
  color: rgba(146, 106, 21, 0.815);
  border-bottom: 2px solid rgba(146, 106, 21, 0.815);
  text-decoration: none;
}

.custom-icon {
  font-size: 10px;
  transition: transform 0.3s ease;
}

.rotate-up {
  transform: rotate(180deg);
}

.spaced-icon {
  margin-left: 6px;
}

.dropdown-link {
  cursor: pointer;
}

.ant-dropdown-menu-item {
  padding: 8px 12px;
  border-bottom: 1px solid #eaeaea;
  transition: color 0.3s ease;
}

.ant-dropdown-menu-item a {
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px 12px;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
  line-height: 24px;
}

.ant-dropdown-menu-item:hover {
  color: rgba(146, 106, 21, 0.815) !important; 
  /* background-color: #f5f5f5; */
}

.ant-dropdown-menu-item:last-child {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .header-menubar {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .header-title {
    font-size: 13px;
  }
}